.parentdiv h1{
    text-Align:center; 
    font-Size:40px;
    font-Weight:700;
}

.bottomsection{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.internaldiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 40px;
    border: solid 1px rgb(121, 116, 116);
    border-radius: 10px;
    margin-top: 20px;
}
.internaldiv:hover{
    color: white;
    background-color: #FF7C0A;
    border: none;
}

.internaldiv img{
    padding-bottom: 15px;
}
.internaldiv h3{
    Font-size: 20px;
    Font-weight: 700;
}

/* ===================================================================== */
.section3{
    padding-top: 10%;
}

.bannerSection{
    display: flex;
    padding: 20px 10%;
    gap: 20px;
    font-family: sans-serif;
}


.bannerDivOne{
    width: 100%;
    position: relative;
}

.bannImage{
    width: 100%;
}

.bannerDivTwo{
    width: 100%;
}

.banerDivOneText{
    position: absolute;
    top: 70px;
    left: 25%;
    text-align: center;
    color: white;
}

.banerDivOneText h4{
    font-size: 20px;
}

.banerDivOneText h2{
    font-size: 40px;
    padding-top: 10px;
}

.banerDivOneText p{
    font-size: 15px;
    padding: 10px 0;
}

.banerDivOneText button{
    font-size: 15px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;

}


.banerDivOneText button:hover{
    background-color: orange;
    transition: all 0.2s ease;
    transform: scale(1.09);
}



.bannerDivTwo{
    position: relative;
}

.banerDivTwoText{
    position: absolute;
    top: 70px;
    left: 10%;
    text-align: left;
}

.banerDivTwoText h4{
    font-size: 20px;
}

.banerDivTwoText h2{
    font-size: 40px;
    padding-top: 10px;
}

.banerDivTwoText p{
    font-size: 15px;
    padding: 10px 0;
}


.banerDivTwoText button{
    font-size: 15px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;

}


.banerDivTwoText button:hover{
    background-color: orange;
    transition: all 0.2s ease;
    transform: scale(1.09);
}

.bannerDivThree{
    position: relative;
    padding: 2px 10%;
}
.bannImage2{
    width: 100%;
}

.banerDivThreeText{
    position: absolute;
    top: 70px;
    left: 13%;
    text-align: left;
}

.banerDivThreeText h4{
    font-size: 20px;
}

.banerDivThreeText h2{
    font-size: 40px;
    padding-top: 10px;
}

.banerDivThreeText p{
    font-size: 15px;
    padding: 10px 0;
}


.banerDivThreeText button{
    font-size: 15px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;

}


.banerDivThreeText button:hover{
    background-color: orange;
    transition: all 0.2s ease;
    transform: scale(1.09);
}

@media only screen and (min-width: 320px) and (max-width:599px)  {
    .parentdiv h1{
        text-Align:center; 
        font-Size:30px;
        font-Weight:700;
    }

    .bottomsection{
        display: grid;
        justify-content: center;
        gap: 30px;
    }

    .bannerSection{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10%;
    gap: 20px;
    font-family: sans-serif;
    }

    .bannerDivThree{
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width:768px)  {
    .bottomsection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding:0 10%;
        gap: 20px;
    }

    .bannerSection{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px 10%;
        gap: 20px;
        font-family: sans-serif;
        }
    .bannerDivThree{
        display: none;
    }
}