.MyNavBar{
    padding: 0px 10%;
    color: rgb(253, 249, 244);
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: sans-serif;
}

.TopNav{
    display: flex;
    /* background-color: #FAFAFA; */
    padding: 15px 10px;
    color: rgb(93, 99, 116) ;
    font-size: 14px;
    font-weight: 500;
}

.TopNav ul{
    margin-left: auto;
    display: flex;
    gap: 20px;

}
.TopNav ul li{
    list-style: none;
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
#DotsIcon2{
    display:none;
}

.flag{
    border-radius:100px;
    object-fit: cover;
}

#NYC{
    border-right: solid #FF7C0A 1px;
    border-left: solid #FF7C0A 1px;
    padding-left: 10px;
}
#usd{
    border-right: solid #FF7C0A 1px;
    border-left: solid #FF7C0A 1px;
    padding-left: 10px;
    cursor: pointer;
}
.usddrop{
    background-color: white;
    position: absolute;
    top: 7%;
    right: 26%;
    cursor: pointer;
}
.usddrop div{
    padding-bottom: 12px;
}

.currency{
    background-color: white;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 7%;
    right: 17%;
}
.currency p{
    padding-bottom: 5px;
    color: black;
}

.parentBottomnav{
    /* position: absolute; */
    position: relative;
}

.BottomNav{
    display: flex;
    align-items: center;
    /* background-color: white; */
    margin:10px 0;
    padding: 0 10px;
    color: rgb(7, 7, 8) ;
    border-radius: 10px;
    font-family: sans-serif;
    position: relative;
}

.BottomNav2{
        display: flex;
        align-items: center;
        background-color: black;
        margin:10px 0;
        padding: 0 10px;
        color: rgb(93, 99, 116) ;
        border-radius: 10px;
        font-family: sans-serif;
        position: relative;
        box-shadow: rgba(165, 165, 212, 0.2) 3px 3px 3px 3px;
}

.BottomNav ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 25px;
    padding-right: 25px;
}
.BottomNav ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
   
}
.BottomNav ul li:hover{
    color: #6DB356;
}
#browse{
    color: #FF7C0A;
    font-weight: bold;
}
#browse:hover{
    color: #6DB356;
}

.BottomNavicons{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 25px;
    color: rgb(93, 99, 116) ;
    font-weight: 500;
}
.BottomNavicons p{
    cursor: pointer;
}
#DotsIcon{
    background-color: #FF7C0A;
    padding: 10px 15px ;
    color: white;
    font-size: 45px;
    font-weight: 400;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.DropdownBrowse{
        background-color: white;
        border-radius: 5px;
        padding: 10px 10px;
        color: rgb(93, 99, 116) ;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: centr;
        gap: 40px;
        position: absolute;
        top: 125px;
        left: 520px;
        z-index: 100;
        
}
.DropdownBrowse ul{
    list-style: none;
    
}
.DropdownBrowse ul li{
    padding-bottom: 5px;
    cursor: pointer;
    
}
.DropdownBrowse ul li:hover{
    color: #6DB356 ;
    transition: all ease-out 0.1;
    
    transform:scale(1.1) ;
}
.DropdownDot{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: rgb(93, 99, 116) ;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 100;
}
.DropdownDot h1{
    color: black;
    font-weight: bold;
    padding: 20px 10px;
}
.DropdownDot p{
    font-size: 16px;
    line-height: 25px;
}
.DropdownDot button{
    padding: 20px;
    background-color: #6DB356;
    color: #eee7e7;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.dropdown2{
    background-color: rgb(248, 244, 244);
    border-radius: 5px;
    padding: 20px;
    color: rgb(93, 99, 116) ;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 48%;
    display:none ;
}
#home:hover .dropdown2{
    display:block;
}


.dropdown2 p{
    padding-bottom: 10px;
    
}


@media only screen and (min-width: 320px) and (max-width:768px)  {
    .MyNavBar{
        padding: 0;
        margin: 0;
    }
    .TopNav{
        display: none;
    }
    .BottomNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
       
       
    }
    #DotsIcon2{
        display: block;
        background-color: #FF7C0A;
        color: white;
        padding: 10px;
        font-size: 25px;

    }
    .BottomNav ul{
        display: none;


    }
    .BottomNavicons{
        display: none;
    }
}